.videoFooter {
    position: relative;
    margin-left: 20px;
    bottom: 100px;
}

.videoFooter__text {
    position: absolute;
    bottom: 0;
    display: flex;
    margin-bottom: 20px;
    color: white;
}

.videoFooter__text > h3 {
    margin-left: 10px;
    padding-bottom: 20px;
}

.videoFooter__text > h3 > button {
    color: white;
    font-weight: 900;
    text-transform: inherit;
}

.videoFooter__ticker > .ticker {
    width: 60%;
    margin-bottom: 20px;
    height: fit-content;
    margin-left: 30px;
}

.videoFooter__ticker h1 {
    font-size: 12px;
    padding-top: 7px;
    color: white;
}

.videoFooter__icon {
    position: absolute;
    left: 5px;
    color: white;
}

.videoFooter__actions {
    display: flex;
    position: absolute;
    width: 95%;
    justify-content: space-between;
    color: white;
}